In [2]:
import numpy as np
import pandas as pd

## Load Dataset and Understanding

In [3]:
df=pd.read_csv("student_performance_updated_1000.csv")

In [4]:
df.head()

,StudentID,Name,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
0,1.0,John,Male,85.0,15.0,78.0,1.0,High,80.0,4.8,59.0,False
1,2.0,Sarah,Female,90.0,20.0,85.0,2.0,Medium,87.0,2.2,70.0,True
2,3.0,Alex,Male,78.0,10.0,65.0,0.0,Low,68.0,4.6,92.0,False
3,4.0,Michael,Male,92.0,25.0,90.0,3.0,High,92.0,2.9,96.0,False
4,5.0,Emma,Female,NaN,18.0,82.0,2.0,Medium,85.0,4.1,97.0,True

In [5]:
df.sample(5)

,StudentID,Name,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
125,3430.0,Jessica Lamb,Male,78.0,18.0,86.0,NaN,Low,90.0,-5.0,200.0,False
22,9797.0,Donna Taylor,Female,95.0,20.0,82.0,NaN,High,78.0,0.0,96.0,False
116,2592.0,NaN,Male,82.0,10.0,60.0,1.0,Medium,72.0,2.1,97.0,True
34,3536.0,Scott Davidson,Male,88.0,25.0,78.0,3.0,Low,72.0,0.3,70.0,NaN
130,3535.0,Tracy Gibbs,Female,92.0,20.0,88.0,2.0,Medium,87.0,3.8,86.0,True

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  960 non-null    float64
 1   Name                       966 non-null    object
 2   Gender                     952 non-null    object
 3   AttendanceRate             960 non-null    float64
 4   StudyHoursPerWeek          950 non-null    float64
 5   PreviousGrade              967 non-null    float64
 6   ExtracurricularActivities  957 non-null    float64
 7   ParentalSupport            978 non-null    object
 8   FinalGrade                 960 non-null    float64
 9   Study Hours                976 non-null    float64
 10  Attendance (%)             959 non-null    float64
 11  Online Classes Taken       975 non-null    object
dtypes: float64(8), object(4)
memory usage: 93.9+ KB

In [18]:
df.shape

(1000, 12)

In [8]:
np.round(df.describe(),)

,StudentID,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,FinalGrade,Study Hours,Attendance (%)
count,960.0,960.0,950.0,967.0,957.0,960.0,976.0,959.0
mean,5416.0,85.5,17.6,77.6,1.5,80.0,2.4,77.2
std,2653.7,7.3,6.3,10.0,1.0,9.5,1.6,19.3
min,1.0,70.0,8.0,60.0,0.0,62.0,-5.0,50.0
25%,3113.5,82.0,12.0,70.0,1.0,72.0,1.2,63.0
50%,5396.5,88.0,18.0,78.0,1.0,80.0,2.5,76.0
75%,7754.8,91.0,22.0,86.0,2.0,88.0,3.7,89.0
max,9998.0,95.0,30.0,90.0,3.0,92.0,5.0,200.0

In [11]:
np.round(df.corr(numeric_only=True),2)

,StudentID,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,FinalGrade,Study Hours,Attendance (%)
StudentID,1.00,0.06,-0.01,-0.03,-0.04,0.08,0.04,-0.02
AttendanceRate,0.06,1.00,0.02,0.04,-0.02,-0.01,-0.02,0.01
StudyHoursPerWeek,-0.01,0.02,1.00,-0.01,0.03,0.04,-0.02,0.06
PreviousGrade,-0.03,0.04,-0.01,1.00,0.06,0.00,-0.04,0.05
ExtracurricularActivities,-0.04,-0.02,0.03,0.06,1.00,-0.03,-0.05,0.01
FinalGrade,0.08,-0.01,0.04,0.00,-0.03,1.00,0.03,0.04
Study Hours,0.04,-0.02,-0.02,-0.04,-0.05,0.03,1.00,-0.32
Attendance (%),-0.02,0.01,0.06,0.05,0.01,0.04,-0.32,1.00

In [17]:
# Numeric datacolumns
df.select_dtypes(include='number').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  960 non-null    float64
 1   AttendanceRate             960 non-null    float64
 2   StudyHoursPerWeek          950 non-null    float64
 3   PreviousGrade              967 non-null    float64
 4   ExtracurricularActivities  957 non-null    float64
 5   FinalGrade                 960 non-null    float64
 6   Study Hours                976 non-null    float64
 7   Attendance (%)             959 non-null    float64
dtypes: float64(8)
memory usage: 62.6 KB

In [22]:
# Categorical data columns
df.select_dtypes(exclude='number').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  966 non-null    object
 1   Gender                952 non-null    object
 2   ParentalSupport       978 non-null    object
 3   Online Classes Taken  975 non-null    object
dtypes: object(4)
memory usage: 31.4+ KB

## Data Preprocessing

In [26]:
df.duplicated().sum()

np.int64(0)

In [27]:
df.isnull().sum()

StudentID                    40
Name                         34
Gender                       48
AttendanceRate               40
StudyHoursPerWeek            50
PreviousGrade                33
ExtracurricularActivities    43
ParentalSupport              22
FinalGrade                   40
Study Hours                  24
Attendance (%)               41
Online Classes Taken         25
dtype: int64